.product-section {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 40px 24px;
}

/* ENCABEZADO */

.product-section-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 20px;
}

.product-section-header h2 {
    margin: 0;

    color: white;

    font-size: 24px;
    font-weight: 800;
}

.product-section-header button {
    border: none;
    background: transparent;

    color: #ff6b00;

    font-size: 13px;
    font-weight: 700;

    cursor: pointer;
}

.product-section-header button:hover {
    text-decoration: underline;
}

/* PRODUCTOS */

.product-section-grid {
    display: grid;

    grid-template-columns: repeat(5, minmax(0, 1fr));

    gap: 16px;
}

/* RESPONSIVE */

@media (max-width: 1100px) {

    .product-section-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (max-width: 850px) {

    .product-section-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 650px) {

    .product-section-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 450px) {

    .product-section-grid {
        grid-template-columns: 1fr;
    }
}